:root {
    --primary-color: rgb(15, 157, 88);
    --secondary-color: rgb(255, 255, 255);
    --grass-type:
}


body {
    padding: 0 15%;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
  
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1em; 
    background-color: #1c1c1c;
}

.link {
    text-decoration: none;
    color: #ffffff;
    margin: 0 .6em;
    padding: 0 .4em;
}

.link:hover {
    color: #000000;
    background: #edede9;
    border-radius: .3em;
}

.nav-btn {
    background: #FFFFFF;
    padding: .4em .8em;
    margin: 0 .1em;
    border: none;
    border-radius: .3em;
}

.nav-btn:hover {
    background: #4b4b4b;
}

.pokemons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pokemon-row {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 250px;
    background: #FFFFFF;
    border: 2px solid #8a897c;
    border-radius: 8px;
    margin: 2% 0;
}

.pokemon-col {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100px;
    background: #FFFFFF;
    border: 2px solid #8a897c;
    border-radius: 8px;
    margin: 1% 0;
}

.pokemon-row-header{
    margin: 5px 15px 0 auto;
}

.pokemon-col-header{
    margin-left: 5px;
}

.pokemon-row-img {
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.pokemon-col-img {
    width: 70px;
    height: 70px;
    margin-left: 15px;
}

.pokemon-row-footer {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 25%;
    border-radius: 0 0 7px 7px;

    background: #edede9;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    color: #000000;
}

.pokemon-col-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 100%;
    border-radius: 0 0 7px 7px;
    margin-left: 15px;

    background: #edede9;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    color: #000000;
}

.pokemon-name {
    font-size: 20px;
    padding-left: 10px;
    margin: 0;
}

.pokemon-types {
    font-size: 10px;
    margin: 0;
    padding-left: 10px;
    padding-top: 5px;
}

.pokemon-footer-favorite {
    height: 29px;
    width: 30px;
    margin-right: 10px;
}

.pokemon-details {
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    margin: 0 15%;
    padding: 1em .5em 0;
}

.pokemon-details-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1.2em;
}

.pokemon-details-arrow, 
.pokemon-details-favorite {
    color: #FFFFFF;
    height: 2em;
    width: 2em;
}

.pokemon-details-header-right {
    display: flex;
    align-items: center;
}

.pokemon-details-header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;
}

.pokemon-details-number {
    margin: 0;
}

.pokemon-details-name {
    margin: 0;
}

.pokemon-details-img {
    width: 20em;
    height: 20em;
    margin: .8em auto;
    border-radius: .2em;
}

.pokemon-details-container {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    color: #000000;
    border-radius: .2em;
}

.pokemon-details-types {
    display: flex;
    justify-content: center;
    margin: 1em 0;
}

.pokemon-details-type {
    padding: .1em .8em;
    border-radius: 1em;
    margin: 0 .8em;
    font-weight: 200;
}

.pokemon-details-about {
    text-align: center;
    font-size: 1.5em;
    margin: .4em 0 0 0;
}

.pokemon-details-about-details {
    display: flex;
    justify-content: center;
    margin-top: .3em;
}

.pokemon-details-about-data {
    display: flex;
    flex-direction: column;
    width: 9em;
    padding: .5em;
    align-items: center;
}

.pokemon-details-btn {
    color: #4b4b4b;
    width: 2em;
    height: 2em;
}